:root {
  --bg-radial-center: #203158;
  --bg-radial-outer: #0F172A;
  --color-text-heading: #FFF;      
  --color-text-body: #CBD5E1;        
  --color-text-muted: #94A3B8;       

  --font-trispace: 'Trispace', monospace;
  --font-inter: 'Inter', sans-serif;

  --fs-trispace-40: 40px;
  --fs-trispace-30: 30px;
  --fs-trispace-22: 22px;
  --fs-trispace-16: 16px;
  --fs-inter-semibold-28: 28px;
  --fs-inter-regular-28: 28px;
  --fs-inter-regular-22: 22px;
}

/* ===== RESET ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

/* ===== NAVBAR ===== */

header {
    width: 100%;
    padding: 20px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

/* ===== HERO ===== */

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 80px 8%;
    background: radial-gradient(
        circle at top,
        #203158,
        #0F172A
    );
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 24px;
    background: #FFFFFF;
    color: #0F172A;
    border-radius: 8px;
    font-weight: bold;
}



